body{
    background-color:rgb(69, 69, 255);
}
.wrapper {
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
    height: 100vh;     
}

.main-container {
    border: 2px solid black;
    width: 500px;
    height: 400px;
     display: flex;
    align-items: center;     
    flex-direction: column;
        background-color: aliceblue;  
}
